/*
---------------------------------------------
Ãndice
------------------------------------------------
1. Typography
2. Main Nav
3. Home
4. About
5. Work
6. Single Work
7. Pricing
8. Contact
--------------------------------------------- */

/* colores personalizados - Juan Lima - Modificaciones*/
.tx-green1{
  color:#3fac00 ;
}

.tx-white{
  color:#ffffff;
}

.tx-gray1{
  color:rgb(177, 177, 177);
}

.tx-roboto{
  font-family: 'Roboto', sans-serif;
}

.tx-lato{
  font-family: 'Lato', sans-serif;
}

.tx-quick{
  font-family: 'Quicksand', sans-serif;
}

/* Barra navegacion - Juan Lima - Modificaciones */

.btn-outline-success{
  color:black!important ;
 
}

.btn-outline-success i{
  color:#3fac00!important ;
 
}

.btn-outline-success:hover{
  color:#ffffff!important;
  background-color: #3fac00!important;
}

/* Titulo tabla - Juan Lima - Modificaciones*/

.service-wrapper .h2{
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: rgb(199, 235, 145);
  margin:4rem 0rem; 
}

/* Tabla Pagos - Juan Lima - Modificaciones*/

table .paid{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  margin:4rem 0rem; 
}


table .rank, .athlete{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;

 
}



.tb-circle {
  color:rgb(177, 177, 177);
  font-size:0.7rem;
  font-weight: 100;
  border: 1px solid rgb(177, 177, 177);
  padding:6px 8px;
  border-radius:50%;
}

.tb-paid{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

.tb-name{
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
}

.table tbody>tr:hover{
background-color: rgb(199, 235, 145)!important;
 
}

.table tbody>tr:active{
  background-color: rgb(199, 235, 145)!important;
   
  }

 
 .service-rank .table{
   margin-bottom:7rem;
 }

/* Cabecera Galeria - Juan Lima - Modificaciones*/
.service-tag {
  background-color:rgb(199, 235, 145) ;
}
 .service-tag a{
color:#ffffff!important;
font-size: 2rem;
 }

 /* Footer - Juan Lima - Modificaciones*/

 .next-section h1{
   color:rgb(199, 235, 145) ;
   font-size: 5rem;
   font-weight: 900;
 }

/* Footer - Juan Lima - Modificaciones*/

footer .footer-row{
  margin:5rem 0rem;
}

footer .footer-menu{
  border-top:2px solid grey;
}

footer h2{
  font-size: 1rem;

}

footer li>a{
  color:grey;
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
}

footer li>a:hover{
  color:rgb(199, 235, 145) ;
  transition: all 0.5s ease-in-out;
}


footer span{
  color:#000000;
  font-size: 1rem;
  font-weight: bold;
}
footer p{
  color:grey;
  font-size: 0.9rem;
  
}

html {font-family: 'Open Sans', sans-serif;}
/* Typography */
p, a {font-weight: 400;}
.h2 {font-size: 40px;}
.h3 {font-size: 28px;}
.light-300 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
}
.regular-400 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}
.semi-bold-600 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}
.typo-space-line::after,
.typo-space-line-center::after {
  content: "";
  width: 150px;
  display:block;
  position: absolute;
  border-bottom:  5px solid #6266ea;
  padding-top: .5em;
}
.typo-space-line-center::after {
  left: 50%;
  margin-left: -75px;
}

/* Home */
#index_banner {
  background-image: url('./../img/banner-bg-01.jpg');
  background-position: center center; background-size: cover;
  height: 100%;
  min-height: 60vh;
  width: 100%;
}
#index_banner .carousel-item {
  min-height: 60vh;
}
#index_banner .carousel-control-prev i,
#index_banner .carousel-control-next i {
  color: #6266ea !important;
  text-decoration: none;
  font-size: 4em;
}
#index_banner .carousel-inner {
  height: 80vh;
}
#index_banner .carousel-indicators li,
#index_banner .carousel-indicators.active {
  background-color: #6266ea !important;
  // las rayas de abajo del carrousel van de color azul
}
.service-wrapper .service-footer {
  max-width: 720px;
}
.service-work.card {
  border-radius: 10px !important;
  cursor: pointer;
}
.service-work .service-work-vertical {
	background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 33.33%, rgba(255,255,255,1) 66.66%, rgba(255,255,255,0) 99.99%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
}
.service-work .service-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}
.service-work .service-work-vertical:hover * {
  color: #000;
  border-color: #000;
  transition: .5s;
}
.recent-work.card{
  border-radius: 10px !important;
}
.recent-work .recent-work-vertical {
	background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33.333%, rgba(97,84,199,1) 66.666%, rgba(255,255,255,0) 99.999%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
  cursor: pointer;
}
.recent-work .recent-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}
.recent-work .recent-work-vertical:hover div.recent-work-content {
  top: 50%;
  margin-top: -2.5em;
  position: absolute;
}
.recent-work .recent-work-vertical:hover * {
  color: white;
  transition: .5s;
}
/* About */
#work_banner {
  background-image: url('./../img/banner-bg-02.jpg');
  background-position: center center; background-size: cover;
  height: 100%;
  width: 100%;
}
.progress {
  height: 8px;
}
.objective-icon {
  border-radius: 13px;
  width: 8rem;
}
.partner-wap {
  background-color: #7276ec;
  transition: 1s;
  cursor: pointer;
}
.partner-wap:hover {
  background-color: #b1b3f5;
}
.why-us {
  background: rgb(239,239,253);
  background: -moz-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  background: -webkit-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  background: linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeffd",endColorstr="#ffffff",GradientType=1);
}
.team-member-img {
  transition-duration: 0.15s;
}
.team-member:hover .team-member-img {
  padding: 10px !important;
}

/* Work */
/* Singel Work */
#work_single_banner {
  background-image: url('./../img/banner-bg-02.jpg');
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.related-content {
  border-radius: 20px;
  cursor: pointer;
}
/* Pricing */
.pricing-list {
  margin-bottom: 1px;
}
.pricing-table {
  max-width: 350px;
  margin: auto;
}
.pricing-table,
.pricing-horizontal {
  border-radius: 15px !important;
}
/* Contact */
#floatingtextarea {
  height: 150px
}
/* Footer */
footer a.text-light:hover {
  color: #bfbfbf !important;
  transition-duration: 0.15s;
}